body {
  margin: -20px; /* Offset the border */
  background: linear-gradient(to right, #5E1B89, #F4512C); /* Gradient background */
  position: relative; /* Add position relative */
}

h1 {
  text-align: center;
  color: white;
}

.todo-header {
  text-align: center;
  color: white;
}

.todo-wrapper {
  background: #ffffff;
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px #F4512C;
  border-radius: 15px; /* Add border-radius */
}

.edit__wrapper {
  background-color: #F4512C;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 15px; /* Add border-radius */
  height: 25%; /* Adjust height as needed */
}

.todo-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #F4512C;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.todo-input-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px;
  margin-bottom: 25px;
}

.todo-input-item label {
  font-weight: bold;
  margin-bottom: 10px;
  color: #5E1B89;
}

.todo-input-item input::placeholder {
  color: #5E1B89;
}

.todo-input-item textarea::placeholder {
  color: #5E1B89;
}

.todo-input-item input {
  padding: 8px;
  border: 2px solid #ccc;
  width: 250px;
  margin-bottom: 10px;
  border-radius: 15px; /* Add border-radius */
}

.todo-input-item input:focus {
  outline: 2px solid #F4512C;
  border-color: #F4512C; /* Change border color when focused */
}

.primaryBtn,
.secondaryBtn {
  background-color: #5E1B89;
  color: white;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

.secondaryBtn {
  margin-right: 10px;
}

.delete-all-btn {
  margin-left: 10px; /* Add space */
  padding: 10px; /* Adjust padding */
  color: white;
  background-color: #5E1B89;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  outline: none;
}

.mark-all-complete-btn,
.mark-all-not-complete-btn {
  margin-left: 10px; /* Add space */
  padding: 10px; /* Adjust padding */
  color: white;
  background-color: #F4512C; /* Change background color */
  cursor: pointer;
  border: none;
  border-radius: 15px;
  outline: none;
}

.active {
  background-color: #F4512C;
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.btn-area {
  margin-bottom: 15px;
}


.todo-list-item {
  background-color: #ffffff;
  border: 2px solid #F4512C;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
}

.todo-list-item h3 {
  font-size: 20px;
  color: #5E1B89;
  font-weight: bold;
  margin: 0;
}

.todo-list-item p {
  font-size: 14px;
  color: #5E1B89;
  margin-top: 5px;
}

.todo-list-item .icon,
.todo-list-item .check-icon {
  font-size: 25px;
  cursor: pointer;
}

.todo-list-item .check-icon {
  color: #F4512C;
  margin-left: 10px;
}

.todo-list-item .edit__wrapper {
  background-color: #F4512C;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.todo-list-item .edit__wrapper input,
.todo-list-item .edit__wrapper textarea {
  border: 1px solid lightgray;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
}

.todo-list-item .edit__wrapper .primaryBtn {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 16px;
  width: fit-content;
}

.icon {
  font-size: 35px;
  color: #F4512C;
  cursor: pointer;
}

.check-icon {
  font-size: 25px;
  margin-left: 10px;
  color: #F4512C;
  cursor: pointer;
}

.edit__wrapper {
  background-color: #F4512C;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.edit__wrapper input,
.edit__wrapper textarea {
  border: 1px solid lightgray;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
}

.edit__wrapper .primaryBtn {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 16px;
  width: fit-content;
}

.todo-wrapper {
  position: relative;
  padding-bottom: 50px;
}

.todo-actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: calc(100% - 20px);
  display: flex;
  justify-content: flex-end;
}

.todo-actions-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.open {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
}

.modal-content p {
  font-size: 16px;
  margin-bottom: 15px;
  color: #5E1B89;
}

.modal-actions button {
  margin-left: 10px;
  color: white;
  background-color: #5E1B89;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  padding: 10px; /* Add padding */
  outline: none; /* Remove outline */
}

.modal-actions {
  margin-top: 20px;
  text-align: right;
  color: white;
}

.modal-actions button {
  margin-left: 10px;
  color: white;
}
